ORDER_NOTIFY_EMAIL=chaithrikamm76@gmail.com
SMTP_EMAIL=chaithrikamm76@gmail.com
SMTP_PASSWORD=Chaithum@7
RAZORPAY_KEY_ID=rzp_test_SfNy2MrHnHt87w
RAZORPAY_KEY_SECRET=0PMMxZGsnLmhhZ7nGfoC27fw
MONGO_URI=mongodb://chaithrikamm76_db_user:Chaithrikamm%407112003@ac-luaw6ai-shard-00-00.0fn73pi.mongodb.net:27017,ac-luaw6ai-shard-00-01.0fn73pi.mongodb.net:27017,ac-luaw6ai-shard-00-02.0fn73pi.mongodb.net:27017/megamart1?ssl=true&replicaSet=atlas-3vi8hy-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0
PORT=5000